body {
    margin: 0;
    background: #222;
    font-family: 'Cormorant Infant', serif;
    text-align: center;
}

/*  TIPOGRAFÍA  */

.main-title,
.section-title,
.name-title {
    font-family: 'Nosifer', cursive;
    letter-spacing: 2px;
}

.star-big {
    font-size: 120px;
    color: #700000;
    margin-top: 20px;
}

/* NOMBRE  */

.profile-section {
   color: #ffffff;
    padding: 70px 20px;
    position: relative;
}

.name-title {
    font-size: 100px;
    color: #700000;
}

.italic-text {
  color: #ffffff;
    font-size: 20px;
    margin-top: 20px;
    font-style: italic;
}

/* Estrellas laterales */
.star-left {
    position: absolute;
    left: 10px;
    top: 30%;
    font-size: 80px;
    color: #700000;
}

.star-right {
    position: absolute;
    right: 10px;
    top: 30%;
    font-size: 80px;
    color: #700000;
}

/* PROYECTOS */

.projects-section {
    padding: 100px 20px;
    background: #000;
    color: rgb(255, 255, 255);
    position: relative;
}

.section-title {
    font-size: 120px;
    color: #700000;
    margin-bottom: 70px;
}

.project-box {
    width: 70%;
    height: 720px;
    margin: 30px auto;
    background: #222;
    border-radius: 70px;
    color: #aaa;
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: italic;
    font-size: 40px;
}

.star-small {
    font-size: 60px;
    color: #700000;
    margin-top: 20px;
}

/* REDES  */

.social-section {
    padding: 60px 20px;
    background: #111;
    color: white;
}

.social-item {
    font-size: 22px;
    margin: 10px 0;
    font-style: italic;
}

.profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.profile-img {
    width: 500px;
    height: auto;
    border-radius: 10px;
}

.img-proyecto {
    width: 90%;      
    height: 700px;     
    object-fit: cover; 
    border-radius: 20px; 
}

.year {
   color: #ffffff;
  font-size: 50px;
    margin-bottom: 0;
    padding-bottom: 0;
}

.main-title {
    font-size: 100px;
    color: #700000;
    margin-top: 0;
    margin-bottom: -200px; /* Valor negativo para subir la imagen */
    line-height: 1;       /* Reduce la altura de línea del texto */
}

/* Selecciona el h1 que tiene la imagen */
.header-section h1:nth-of-type(2) {
    margin-top: 0;
    margin-bottom: 0;
}

.subtitle {
    margin-top: 5px; /* Pequeño espacio entre imagen y nombre */
}